body {
    background-color: #F4EBD0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #F4EBD0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #D6AD60;    
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #D6AD60;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.anu1 {
    float: none;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    box-sizing: border-box;
    background-color: tan;
}

.landing img {
    margin: 100px 200px;
    float: none;
}

.anu2 {
    float: left;
    width: 480px;
    height: 700px;
    padding: 25px 25px;
    text-align: left;
    box-sizing: border-box;
    background-color: #D6AD60;
}

.anu3 {
    text-align: center;
    margin: 100px 50px;
}

.flex-container1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    float: left;
    padding-bottom: 100px;
    background-color: #F4EBD0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.flex-container div {
    background-color: white;
    margin: 25px;
    padding: 35px;
    font-size: 10px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

.footer {
    background-color: #D6AD60;
    text-align: center;
}