body {
    background-color: #F4EBD0;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

.topnav {
    background-color: #B68D40;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: #D6AD60;
}
  
  .topnav a.active {
    background-color: #B68D40;
    color: white;
    float: left;
}
  
.topnav .icon {
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #D6AD60;
    color: #000;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
  }
  
  #myBtn:hover {
    background-color: #B68D40;
    box-shadow: 2px 2px #000;
  }

.anu1 h1 {
    font-family: 'Allison', cursive;
    font-size : 250px; 
}

.anu1 {
    float: none;
    text-align: center;
    padding-top: 1px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-color: #B68D40;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../img/layer1.svg'); 
}

.layer2 {
    background-image: url('../img/layer2.svg');
}

.slider {
    width: 900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 0px 100px 225px;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 900px;
   height: 500px;
}

.nav-manual {
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #B68D40;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background: #B68D40;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}


#radio3:checked ~ .first {
    margin-left: -40%;
}


#radio4:checked ~ .first {
    margin-left: -60%; 
}

.nav-auto {
    position: absolute;
    display: flex;
    width: 900px;
    justify-content: center;
    margin-top: 460px;
}

.nav-auto div {
    border: 2px solid #B68D40;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: #B68D40;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: #B68D40;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background: #B68D40;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background: #B68D40;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D6AD60;
    width: 100%;
}

.about img {
    height: 710px;
    width: 860px;
    box-sizing: border-box;
    padding: 100px 100px 100px 100px;
}

.anu2 {
    float: left;
    width: 480px;
    height: 700px;
    padding: 25px 25px;
    text-align: left;
    box-sizing: border-box;
    background-color: #D6AD60;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 10px auto; 
}

.container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* INI KOK BISA GINI GIMANA GAPAHAM AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
}

.container3 div {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 70px 35px 0px;
    color: #fff;
    filter: grayscale(100%);
}

.container3 div:hover {
    filter: grayscale(0%);
}

.container4 h4 {
    margin-top: -30px;
    margin-left: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 5px #000;
}

.container4:hover {
    box-shadow: 0px 0px 7px #000;
}

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container div {
    background-color: white;
    margin: 25px;
    padding: 35px;
    font-size: 10px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

.title1 {
    font-family: 'Allison', cursive;
    font-size : 50px; 
    float: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #F4EBD0;
}

.subtitle1 {
    background-color: #F4EBD0;
    text-align: center;
    padding: 10px 40px;
}

.title {
    font-family: 'Allison', cursive;
    font-size : 50px; 
    float: none;
    text-align: center;
    padding-top: 1px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: #B68D40;
}

.subtitle {
    background-color: #B68D40;
    text-align: center;
    padding: 10px 40px;
}

.flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
}

.flex-gallery img {
    background-color: white;
    margin: 75px;
    font-size: 10px;
    width: 225px;
    height: 400px;
    box-sizing: border-box;
}

.flex2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex2 div {
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 100px;
    font-size: 20px;
}

.flex2 img {
    width: 600px;
}

.buy-btn {
    text-align: center;
    padding-top: 15px;
    width: 80%;
    margin: auto;
    height: 50px;
    background-color: #D6AD60;
    border-radius: 30px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

.buy-btn:hover {
    box-shadow: 0px 0px 5px #000;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #B68D40;
    flex-wrap: wrap;
}

.footer2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer2 div {
    background-color: white;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*tinggal bikin navbar responsiv sisanya udah diurus flexbox paling cuma benerih size dikit dikit doang hehe hehe hehe hehe hehe hehe hehe hehe hehe hehe hehe heh ehe*/

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media (max-width: 1024px) {
    .anu1 h1 {
        font-size: 200px;
    }

    .slider {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 80%;
        height: 500px;
        box-sizing: border-box;
        position: relative;
    }

    .about img {
        width: 647.5px;
        height: 500px;
        padding: 75px 75px 75px 75px;
        box-sizing: border-box;
        margin: 0;
    }

    .anu2 {
        height: 500px;
        width: 376.5px;
        overflow: scroll;
    }

    .flex2 img {
        width: 100%;
    }

    .flex2 div {
        width: 80%;
        margin: 0;
        padding: 20px;
        text-align: center;
        font-size: 30px;
    }
}


  @media (max-width: 768px) {

    .slider {
        margin-left: 40px;
        width: 688px;
        height: 300px;
    }

    .about img {
        width: 518px;
        height: 408px;
        box-sizing: border-box;
    }

    .anu2 {
        height: 408px;
        width: 250px;
        overflow: scroll;
    }
}

@media (max-width: 540px) {
    .anu1 h1 {
        font-size: 150px;
    }

    .slider {
        margin-left: 100px;
        width: 340px;
        height: 188px;
    }

    .about img {
        width: 100%;
        height: auto;
        padding: 75px 75px 75px 75px;
    }

    .anu2 {
        height: 410px;
        width: 100%;
        text-align: center;
    }

    .flex2 div {
        font-size: 12px;
    }
}

@media (max-width: 414px) {

    .slider {
        margin-left: 37px;
        width: 340px;
        height: 188px;
    }

    .anu2 {
        height: 350px;
    }
}

  @media (max-width: 411px) {

    .slider {
        margin-left: 35.5px;
        width: 340px;
        height: 188px;
    }

}

@media (max-width: 375px) {

    .slider {
        margin-left: 10px;
        width: 355px;
        height: 200px;
    }
}

@media (max-width: 360px) {

    .slider {
        margin-left: 10px;
        width: 340px;
        height: 188px;
    }

}

@media (max-width: 320px) {

    .slider {
        margin-left: 10px;
        width: 300px;
        height: 166px;
    }

    .anu2 {
        height: 400px;
    }

    .title {
        font-size: 40px;
        height: 150px;
    }
}

